<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Détails de l'équipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <!-- nouvlle page pour aficher les infos d'une equipe que je pense vous pourez reutilisez par exemple du cote spectateur pour afficher les stats leur prochains matchs etc-->
</head>
<body>
    <div class="container">
        <a href="/tournois/{{id_competition}}" class="title">
            {{nom_competition}}
        </a>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% if session.login_id %} 
            <a href="/logout" class="logout-button">Déconnexion</a>
        {% endif %} 
        <h1>Détails de l'équipe</h1>

        {% if equipe %}
                <h2>Nom de l'équipe : </h2>
                <h1>{{ equipe.nom_equipe }}</h1>

                <h3>Capitaine :</h3>
                <ul>
                    <li>{{ equipe.prenom_capitaine }} {{ equipe.nom_capitaine }}</li>
                </ul>

                <h3>Joueurs :</h3>
                {% if joueurs %}
                    <ul>
                    {% for joueur in joueurs %}
                        <li>{{ joueur.prenom }} {{ joueur.nom }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucun joueur supplémentaire n'a été inscrit pour cette équipe.</p>
                {% endif %}
        {% else %}
            <p>Impossible de charger les détails de l'équipe. Veuillez vérifier l'ID.</p>
        {% endif %}
            
       
    </div>
</body>
</html>