<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Page creation tournoi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">
        <a href="/" class="title" style="display: block; text-decoration: none;">
            Création
        </a>
        <div class="container4">
            <h1>Créer un Tournoi</h1>
                <form method="POST" action="{{ url_for('creer_tournoi') }}">
                    <div class="form-group">
                    <label for="sport">Sport</label>
                    <input type="text" id="sport" name="sport" value="Basketball" readonly>
                </div>

                <div class="form-group">
                    <label for="nom_tournoi">Nom du Tournoi</label>
                    <input type="text" id="nom_tournoi" name="nom_tournoi" required>
                </div>

                <div class="form-group">
                    <label for="nb_equipe_max">Nombre d'Équipes Max</label>
                    <input type="number" id="nb_equipe_max" name="nb_equipe_max" min="2" required>
                </div>

                <div class="form-group">
                    <label for="nb_joueur_max">Nombre de Joueurs Max par Équipe</label>
                    <div class="arrow-select">
                        <select id="nb_joueur_max" name="nb_joueur_max">
                            <option value="5">5</option>
                            </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nb_terrain_dispo">Nombre de Terrains Disponibles</label>
                    <input type="number" id="nb_terrain_dispo" name="nb_terrain_dispo" min="1" required>
                </div>

                <div class="form-group">
                    <label for="temps_match">Temps d'un Match (minutes)</label>
                    <input type="number" id="temps_match" name="temps_match" min="1" required>
                </div>

                <div class="form-group">
                    <label for="date_tournoi">Date du Tournoi</label>
                    <input type="date" id="date_tournoi" name="date_tournoi" required>
                </div>
                
                <div class="form-group">
                    <label for="lieu_du_tournoi">Lieu du Tournoi</label>
                    <input type="text" id="lieu" name="lieu_du_tournoi" required>
                </div>

                <button type="submit">Créer le Tournoi</button>
            </form>
        </div>
    </div>

</body>
</html>