<!DOCTYPE html>
<html>
<head>
    <title>Ma page HTML</title>
</head>
<body>
    <h1>Votre nom :</h1>
    <form method="POST" action="/traitement">
        <input type="text" name="nom" placeholder="Entrez votre identifiant">
        <input type="submit" value="Envoyer">
        <input type="text" name="mdp" placeholder="entrez votre mdp">
        <input type="submit" value="Envoyer">
    </form>

    <h1>Votre mdp :</h1>
    <form method="POST" action="/traitement">
        <input type="text" name="mdp" placeholder="Entrez votre mdp">
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>