<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Page Spectateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    
</head>
<body>
    <div class="container">
        <a href="/tournois/{{id_competition}}" class="title">
            {{nom_competition}}
        </a>
        <h1>Page Spectateur</h1>

        {% if competition and competition.etat_competition == 0 %}
            {% if equipes %}
                <h2>Équipes inscrites :</h2>
                <ul>
                {% for equipe in equipes %}
                    <li><a href="{{ url_for('afficher_equipe', id_equipe=equipe[0], id_competition=id_competition) }}">{{ equipe[1] }}</a></li>                {% endfor %}
                </ul>
            {% else %}
                <p>Aucune équipe n'est encore inscrite pour cette compétition.</p>
            {% endif %}
        {% elif competition and competition.etat_competition == 1 %}
            <p>Voici la poule</p>
            <h2>Poule de la compétition :</h2>

            {% if equipes %}
                <table class="poule-table">
                    <thead>
                        <tr>
                            <th rowspan="2">NOMS</th>
                            <th colspan="{{ equipes|length }}" class="header-numbers"></th> 
                            <th rowspan="2">Total Victoires</th>
                            <th rowspan="2">Total Points</th>
                            <th rowspan="2">Place</th>
                        </tr>
                        <tr>
                            {% for i in range(equipes|length) %}
                                <th class="header-numbers">{{ i + 1 }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(equipes|length) %}
                            {% set current_equipe = equipes[i] %}
                            <tr>
                                <td class="player-name">{{ current_equipe[1] }}</td> {# Nom de l'équipe #}
                                {% for j in range(equipes|length) %}
                                    {% if i == j %}
                                        <td class="diagonal"></td> 
                                    {% else %}
                                        <td></td> 
                                    {% endif %}
                                {% endfor %}
                                <td>0</td> 
                                <td>0</td> 
                                <td></td> 
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucune équipe n'est inscrite pour cette compétition.</p>
            {% endif %}
        {% elif competition and competition.etat_competition == 2 %}
            <h1>Classement Général</h1>
                {% if classement|length >= 3 %}
                <div class="podium">
                    <div class="podium-place second">
                        <div class="podium-rank">2</div>
                        <div class="podium-team">{{ classement[1].nom_equipe }}</div>
                    </div>
                    <div class="podium-place first">
                        <div class="podium-rank">1</div>
                        <div class="podium-team">{{ classement[0].nom_equipe }}</div>
                    </div>
                    <div class="podium-place third">
                        <div class="podium-rank">3</div>
                        <div class="podium-team">{{ classement[2].nom_equipe }}</div>
                    </div>
                </div>
                {% endif %}
                <table class="classement-table">
                    <thead>
                        <tr>
                            <th>Rang</th>
                            <th>Équipe</th>
                            <th>Gagnés</th>
                            <th>Nuls</th>
                            <th>Perdus</th>
                            <th>PP</th>
                            <th>PC</th>
                            <th>Diff.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipe in classement %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ equipe.nom_equipe }}</td>
                            <td>{{ equipe.gagnes }}</td>
                            <td>{{ equipe.nuls }}</td>
                            <td>{{ equipe.perdus }}</td>
                            <td>{{ equipe.PP }}</td>
                            <td>{{ equipe.PC }}</td>
                            <td>{{ equipe.difference }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% endif %}
    </div>
</body>
</html>