<!DOCTYPE html>
<html lang="fr">
<head>
    <style>
        .title {
            background-color: #040417;
            color: #ffffff;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 40px;
            font-size: 2.5em;
            font-weight: bold;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Bienvenue !</title>
</head>
<body>
    <div class="TOUT">
        <div class="container">
            <div class="title">*Nom du tournoi*</div>
    <div class="input-container">
        <label for="capitaine-name">Nom du Capitaine :</label>
        <input type="text" id="capitaine-name" placeholder="Entrez le nom du capitaine" />
    </div>

<!-- Espace pour rentrer les prénoms des joueurs -->
    <div class="input-container">
        <label for="player1">Prénom du Joueur 1 :</label>
        <input type="text" id="player1" placeholder="Entrez le prénom du joueur 1" />
    </div>
</body>
</html>
