<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Page Organisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <a href="/tournois/{{id_competition}}" class="title">
            {{nom_competition}}
        </a>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <h1>Espace Organisateur</h1>

        <p class="current-status">Statut actuel de la compétition :
            {% if current_status == 0 %}
                Inscriptions Ouvertes (Phase 0)
            {% elif current_status == 1 %}
                Phase de Poules (Phase 1)
            {% elif current_status == 2 %}
                Phase de Tableaux (Phase 2)
            {% else %}
                Inconnu
            {% endif %}
        </p>

        <div class="status-buttons">
            {% if current_status == 0 %}
            <form action="{{ url_for('update_status', status=1, id_competition=id_competition) }}" method="post">
                <button type="submit" class="phase-1">Passer en Phase 1 (Poules)</button>
            </form>
            {%elif current_status == 1 %}
            <a href="/page_score/{{id_competition}}">
                <button type="submit">rentrer les scores</button>
            </a>
            <form action="{{ url_for('update_status', status=2, id_competition=id_competition) }}" method="post">
                <button type="submit" class="phase-2">Cloturer la competitions</button>
            </form>
            {%else%}
            {% endif %}
        </div>

    </div>
</body>
</html>