<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Page tournoi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <a >
            *Noms des tournois disponibles*
        </a>
        <h1>Tournois de sport</h1>


        {% if competition and competition.etat_competition == 0 %}
            {% if equipes %}
                <h2>Tournois disponibles :</h2>
                <ul>
                {% for equipe in equipes %}
                    <li><a href="{{ url_for('afficher_equipe', id_equipe=equipe.idEquipe) }}">{{ equipe.nom_equipe }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Aucune tournoi n'a encore été crée.</p>
            {% endif %}
        {% elif competition and competition.etat_competition == 1 %}
            <p>Détails des poules à venir...</p>
        {% elif competition and competition.etat_competition == 2 %}
            <p>Détails des tableaux à venir...</p>
        {% endif %}
    </div>
</body>
</html>