<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <title>{{nom_competition}}</title>
</head>
<body>
    <div class="container">
        <div class="title">            {{nom_competition}}</div>
        <h1>{{status}}</h1>
        <div class="button-container">
            <a href ="/premiere_page">
                <button2 type="submit">page d'acceuil</button2>
            </a>
        </div>
        <div class="roles-container">
            <a href="/page_login_capitaine">
                <div class="role-card capitaine">
                  <div class="role-icon">
                    <span class="icon-c">C</span>
                    </div>
                  CAPITAINE
                </div>
            </a>
        
            <a href="/page_login_arbitre">
                <div class="role-card arbitre">
                    <div class="role-icon">
                        &#9878;
                    </div>
                    ARBITRE
                </div>
            </a>
            <a href ="/page_spectateur">
                <div class="role-card joueur-spectateur">
                    <div class="role-icon">
                        &#128100;&#8205;&#128100;
                    </div>
                    JOUEUR<br>SPECTATEUR
                </div>
            </a>
            </div>
            <a href="/page_orga">
                <div class="role-card organisateur">
                    <div class="role-icon">
                        &#128100;
                    </div>
                    ORGANISATEUR
                </div>
            </a>
        </div>
    </div>
</body>
</html>


