<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Page Capitaines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <form method="POST" action="/inscription.joueur">
            <a href="/" class="title">
                *Nom du tournoi*
            </a>

            
            <div class="captain">
                <div class="colonne">
                    <label for="prenom_capitaine">Prénom du Capitaine :</label>
                    <input type="text" id="prenom_capitaine" placeholder="Entrez le prénom du capitaine" />
                </div>
                <div class="colonne">
                    <label for="nom_capitaine">Nom du Capitaine :</label>
                    <input type="text" id="nom_capitaine" placeholder="Entrez le nom du capitaine" />
                </div>
                <div class="colonne">
                    <div class="equipe">
                        <label for="nom_equipe">Nom de l'équipe :</label>
                        <input type="text" id="nom_equipe" placeholder="Entrez le nom de l'équipe" />
                    </div>
                </div>
            </div>
            <div class="players">
                <div class="colonne">
                    <label for="prenom_player">Prénom des joueurs :</label>
                    <input type="text" id="prenom_player1" placeholder="Entrez le prénom du joueur 1"/>
                    <input type="text" id="prenom_player2" placeholder="Entrez le prénom du joueur 2"/>
                    <input type="text" id="prenom_player3" placeholder="Entrez le prénom du joueur 3"/>
                    <input type="text" id="prenom_player4" placeholder="Entrez le prénom du joueur 4"/>
                    <input type="text" id="prenom_player5" placeholder="Entrez le prénom du joueur 5"/>
                </div>
                <div class="colonne">
                    <label for="nom_player">Nom des joueurs :</label>
                    <input type="text" id="nom_player1" placeholder="Entrez le nom du joueur 1"/>
                    <input type="text" id="nom_player2" placeholder="Entrez le nom du joueur 2"/>
                    <input type="text" id="nom_player3" placeholder="Entrez le nom du joueur 3"/>
                    <input type="text" id="nom_player4" placeholder="Entrez le nom du joueur 4"/>
                    <input type="text" id="nom_player5" placeholder="Entrez le nom du joueur 5"/>
                </div>
            </div>
            <button class="valider-btn", type="submit">Valider</button>
            <button class="modifier-btn", type="submit">Modifier</button>
        
        </form>
        
        </div>
    </div>
</body>
</html>
