<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Tournois</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>

    <div class="container">
        <h1>Gestionnaire de Tournois</h1>

        <div class="button-container">
            <a href="/creer_tournoi_orga" >
                <button2 class="action-button">Créer un Tournoi </button2>
            </a>
            <a href="/liste_tournois" >
                <button2 class="action-button">Accéder aux Tournois</button2>
            </a>
        </div>
    </div>

</body>
</html>