<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Page Spectateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <a href="/" class="title">
            *Nom du tournoi*
        </a>
        <h1>Page Spectateur</h1>

        <p>{{ message_spectateur }}</p>

        {% if competition and competition.etat_competition == 0 %}
            {% if equipes %}
                <h2>Équipes inscrites :</h2>
                <ul>
                {% for equipe in equipes %}
                    <li><a href="{{ url_for('afficher_equipe', id_equipe=equipe.idEquipe) }}">{{ equipe.nom_equipe }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Aucune équipe n'est encore inscrite pour cette compétition.</p>
            {% endif %}
        {% elif competition and competition.etat_competition == 1 %}
            <p>Détails des poules à venir...</p>
        {% elif competition and competition.etat_competition == 2 %}
            <p>Détails des tableaux à venir...</p>
        {% endif %}

        <div class="actions">
            <a href="{{ url_for('page_html') }}" class="button">Retour à la page principale</a>
        </div>
    </div>
</body>
</html>